.about, .contact, .port, .resume {
  font-family: 'Playfair Display', serif;
  font-size: 1.4em;
  background-color: #aba9b9;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Moves content to the top */
  padding-top: 20px; /* Adjust spacing */
}