.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.about-content .about-me {
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.me {
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}